.grid {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    width: 350px;
    height: 350px;

}

.square {
    width: 30%;
    height: 30%;
    border: 1px solid black;
}

.mole {
    background-image: url('../img/mole.png');
    background-size: cover;
}


@media (min-width: 992px) {
    .grid {
        width: 618px;
        height: 618px;
    }
}